@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Coral+Pixels&family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Coral+Pixels&family=Michroma&family=Pixelify+Sans:wght@400..700&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: Arimo;
}

body{
    background-image: url("img/fundo1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center
}

.cad {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    text-align: center;
    width: 35%;
    height: 500px;
    background-color: rgba(255, 255, 255, .5);
    border: 1px solid rgba(0, 0, 0, 0.253);
    border-radius: 20px;
}

.cad h1{
    margin-bottom: 30px;
    font-family: Coral Pixels;
}

.cad input{
    padding: 12px;
    margin-top: 10px;
    width: 60%;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.404);
    border: 1px solid rgba(0, 0, 0, 0.253);
    font-size: 15px;

}

.cad button {
    margin-top: 25px;
    padding: 12px;
    width: 65%;
    border-radius: 15px;
    background-color: rgb(124, 169, 236);
    border: 1px solid #5880bd;
    margin-bottom: 15px;
}

.cad p{
    font-size: 14px;
}

.cad p a {
    color: blue;
    text-decoration: none; /* remove o sublinhado */
}

.cad p a:hover {
    text-decoration: underline; /* adiciona sublinhado ao passar o mouse */
}